<!DOCTYPE html>
<html lang="en">
<head>
  <base href="http://localhost:8081" />
  <title>quizlet application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css_boostrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/style_learning.css">
    <link rel="stylesheet" href="css/login_inpage.css">
    <link rel="stylesheet" href="css/signup_inpage.css">
</head>

<body>

<div class="jumbotron-fluid text-center"   id="top-bar" style="margin-bottom:0 ; height: 100px;">
        <div class="row">
            <div class="col-sm-4 ">
                <img src="image/logo3.png" style="margin-left: -100px; margin-top: 30px;" alt="logo">

            </div>
            <div class="col-sm-4">
                <form class="form-inline" style="margin-top: 30px; margin-left: -220px;">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search..">
                  <button class="btn button my-2 my-sm-0" type="button" style="height: auto;">Search </button>
                </form>
            </div>
            <div class="col-sm-4">
              
              <div class="login">
                <a href="/login_learning" class="login-btn"  onclick="document.getElementById('id01').style.display='block'">Login</a>
              </div>

              <div class="signup">
                <a href="#" class="signup-btn"  onclick="document.getElementById('id02').style.display='block'">Sign Up</a>
              </div>
          </div>
        </div>
</div>


<div class="container"> 
    <div class="titleWrapper" style="">
            <div class="title">
                <h1 class="titleTerm">   Demo   </h1>

            </div>

            <div class="rating">
                    <div class="score float-left" style="margin: 5px;">
                        <span>3,7</span>
                    </div>
                    <div class="displayStar float-left" style="margin: 2px;">
                        <img src="image/star.png"  alt="star">
                        <img src="image/star.png"  alt="star">
                        <img src="image/star.png"  alt="star">
                        <img src="image/rating.png"  alt="star">
                    </div>

                    <div class="ratingCount float-left" style="margin: 5px;">
                          3 đánh giá
                    </div>

                    <button class ="float-left"  style="margin: 5px;"> 
                        <span>
                            Đánh giá 
                        </span>
                    </button>
            </div>
      </div>

      <div class="content-study" style="margin-top: 50px; background-color: aquamarine;" >
        <div class="row navmenu">
            <div class="col-sm-4">
              <div id="menu-bar">
                
                <ul>
                  <li>
                    <img src="image/credit-card.png" alt="logo" class="float-left" width="25px" height="25px">
                    <a class="active" href="#home">Memory card</a>
                  </li>
                  <li>
                    <img src="image/reading-book.png" alt="logo" class="float-left" width="25px" height="25px">
                    <a href="#">Learn</a>
                  </li>
                  <li>
                    <img src="image/write.png" alt="logo" class="float-left" width="25px" height="25px">
                    <a href="#">Write</a>
                  </li>
                  <li>
                    <img src="image/microphone.png" alt="logo" class="float-left" width="25px" height="25px">
                    <a href="#">Spell</a>
                  </li>
                  <li>
                    <img src="image/check.png" alt="logo" class="float-left" width="25px" height="25px">
                    <a href="#">Check</a>
                  </li>
                </ul>              
              </div>
            </div>

            <div class="col-sm-8">
                study here
            </div>
        </div>
      </div>



</div>

<div class="info-term container">
          <p>create by : </p>
          <span>Nam Bui</span>
</div>

<div class="container glossary">
  <div> 
    <h2>Glossary in this module (?)</h2> 
  </div>

  <div class="list-learning">
    <div class="display">
        <div class="show-title"> 
          <p>title</p>
        </div>
        <div class="descript">
          <p>descript</p>
        </div>
    </div>
    <div class="display">
        <div class="show-title"> 
          <p>title</p>
        </div>
        <div class="descript">
          <p>descript</p>
        </div>
    </div>
    <div class="display">
      <div class="show-title"> 
        <p>title</p>
      </div>
      <div class="descript">
        <p>descript</p>
      </div>
   </div>
    <div class="display">
      <div class="show-title"> 
        <p>title</p>
      </div>
      <div class="descript">
        <p>descript</p>
      </div>
    </div>
    <div class="display">
      <div class="show-title"> 
        <p>title</p>
      </div>
      <div class="descript">
        <p>descript</p>
      </div>
    </div>
  </div>
</div>


<div class="discovery container" style="margin-top: 50px;">
  <h2>Discovery..</h2>

  <div class="term-discovery">
      <p>titleTerm</p>
      <p>11 thuat ngu</p>
      <h3>userCreate</h3>
  </div>

  <div class="term-discovery">
    <p>titleTerm</p>
      <p>11 thuat ngu</p>
      <h3>userCreate</h3>
  </div>

  <div class="term-discovery">
    <p>titleTerm</p>
    <p>11 thuat ngu</p>
    <h3>userCreate</h3>
  </div>

  <div class="term-discovery">
    <p>titleTerm</p>
    <p>11 thuat ngu</p>
    <h3>userCreate</h3>
  </div>
</div>

<div class="footer" style="margin-top: 200px;">
      <h3>footer</h3>
</div>




<!-- login -->


<div id="id01" class="modal">
  <form class="modal-content animate" action="" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label for="userName"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="userName" required>

      <label for="passWord"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="passWord" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<!-- sign up -->
<div id="id02" class="modal">
  <form class="modal-content animate" action="">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="UserName"><b>UserName</b></label>
      <input type="text" placeholder="Enter UserName" name="UserName" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>



<script>
  // Get the modal login
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>


<script>
  // Get the modal sign up
  var modal = document.getElementById('id02');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  </script>

  <script src="js/action.js"></script>
</body>
</html>
